<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Furniture Store</title>
    <link rel="shortcut icon" type="image/png" href="favicon.png">

    <!-- Boot strap cdn -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/3eddf6c692.js" crossorigin="anonymous"></script>
    <!-- magnific popup -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
    <!-- magnific popup -->
    <!-- custom css -->
    <link rel="stylesheet" href="css/Style.css" />
    <!-- slick library -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12 col-12">
                    
                </div>
                <div class="col-md-4 col-12 text-center">
                    <h2 class="my-md-3 site-title text-white">Rentitout</h2>
                </div>
                <div class="col-md-4 col-12 text-right">
                    <p class="my-md-4 header-links">
                        <a href="#" class="px-2">Add to cart</a>
                        <i class="fa fa-shopping-cart"></i>
                        
                </div>
            </div>
        </div>
        <div class="container-fluid p-0">
            <nav class="navbar navbar-expand-lg navbar-light bg-light bg-white">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
               
            </nav>


        </div>
    </header>
    <div id="products">
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="our-team pt-4">Wardrobes</div>
                    <div class="b-border"></div>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product_item">
                        <div class="product_item_pic set-bg" data-setbg="/assets/wardrobe1.jpeg">
                            <img src="/assets/wardrobe1.jpeg" height="360px" width="360px">
                            <ul class="product_hover">
                                <li><a href="/assets/wardrobe1.jpeg" class="image-popup"><span
                                            class="fas fa-hand-point-up"></span></a></li>
                                <li><a href="#"><span class="far fa-heart"></span></a></li>
                                <li><a href="#"><span class="fas fa-shopping-cart"></span></a></li>
                            </ul>
                            <button class="fas fa-shopping-cart" type="button"></button>
                        </div>
                        <div class="product_item_text">

                            <h6><a href="#">Twill 2 Door Compact Wardrobe (Frosty White)</a></h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <label for="bed">Select Tenure:</label>
                            <select name="bed" id="bed">

                                <option value="volvo">1 month:RS 299</option>
                                <option value="saab">6 month:Rs 1799</option>
                                <option value="mercedes">12 month:Rs 2999</option>
                            </select>
                            <!-- <div class="product_price">$.100,000</div> -->
                        </div>
                        <!-- <div class="product_price">$.100,000</div> -->
                    </div>
                </div>
            
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product_item">
                    <div class="product_item_pic set-bg" Background-image="/assets/wardrobe2.jpeg">
                        <img src="/assets/wardrobe2.jpeg" height="360px" width="360px">
                        <ul class="product_hover">
                            <li><a href=/assets/wardrobe2.jpeg" class="image-popup"><span
                                        class="fas fa-hand-point-up"></span></a></li>
                            <li><a href="#"><span class="far fa-heart"></span></a></li>
                            <li><a href="#"><span class="fas fa-shopping-cart"></span></a></li>
                        </ul>
                    </div>
                    <div class="product_item_text">

                        <h6><a href="#">Gingham 2 Door Wardrobe with Drawer, Mirror Wall Anchored (Set of 2)</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <label for="bed">Select Tenure:</label>
                        <select name="bed" id="bed">

                            <option value="volvo">1 month:RS 499</option>
                            <option value="saab">6 month:Rs 1999</option>
                            <option value="mercedes">12 month:Rs 2799</option>
                        </select>
                        <!-- <div class="product_price">$.100,000</div> -->
                    </div>
                </div>
            
        </div>
        
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="product_item">
                <div class="product_item_pic set-bg" data-setbg="/assets/wardrobe3.jpeg">
                    <img src="/assets/wardrobe3.jpeg" height="360px" width="360px">
                    <ul class="product_hover">
                        <li><a href="/assets/wardrobe3.jpeg" class="image-popup"><span class="fas fa-hand-point-up"></span></a>
                        </li>
                        <li><a href="#"><span class="far fa-heart"></span></a></li>
                        <li><a href="#"><span class="fas fa-shopping-cart"></span></a></li>
                    </ul>
                </div>
                <div class="product_item_text">

                    <h6><a href="#">Wooden Brown Twill 2 Door Compact Wardrobe(Dark Brown) </a></h6>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <label for="bed">Select Tenure:</label>
                    <select name="bed" id="bed">

                        <option value="volvo">1 month:RS 399</option>
                        <option value="saab">6 month:Rs 2099</option>
                        <option value="mercedes">12 month:Rs 3199</option>
                    </select>
                    <
                </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="row">
        
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="product_item">
                <div class="product_item_pic set-bg" data-setbg="/assets/wardrobe4.jpeg">
                    <img src="/assets/wardrobe4.jpeg" height="360px" width="360px">
                    <ul class="product_hover">
                        <li><a href="/assets/wardrobe4.jpeg" class="image-popup"><span class="fas fa-hand-point-up"></span></a>
                        </li>
                        <li><a href="#"><span class="far fa-heart"></span></a></li>
                        <li><a href="#"><span class="fas fa-shopping-cart"></span></a></li>
                    </ul>
                </div>
                <div class="product_item_text">

                    <h6><a href="#">Baby Cupboards - Small (33x19 inches)</a></h6>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <label for="bed">Select Tenure:</label>
                    <select name="bed" id="bed">

                        <option value="volvo">1 month:RS 199</option>
                        <option value="saab">6 month:Rs 1799</option>
                        <option value="mercedes">12 month:Rs 2699</option>
                    </select>
                    <!-- <div class="product_price">$.100,000</div> -->
                </div>
                <!-- <div class="product_price">$.100,000</div> -->
            </div>
        </div>
   
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="product_item">
            <div class="product_item_pic set-bg" data-setbg="/assets/wardrobe5.jpeg">

                <img src="/assets/wardrobe5.jpeg" height="360px" width="360px">
                <ul class="product_hover">
                    <li><a href="/assets/wardrobe5.jpeg" class="image-popup"><span class="fas fa-hand-point-up"></span></a></li>
                    <li><a href="#"><span class="far fa-heart"></span></a></li>
                    <li><a href="#"><span class="fas fa-shopping-cart"></span></a></li>
                </ul>
            </div>
            <div class="product_item_text">

                <h6><a href="#">Dressing with Wooden stand tables</a></h6>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <label for="bed">Select Tenure:</label>
                <select name="bed" id="bed">

                    <option value="volvo">1 month:RS 499</option>
                    <option value="saab">6 month:Rs 2299</option>
                    <option value="mercedes">12 month:Rs 3399</option>
                </select>
                <!-- <div class="product_price">$.100,000</div> -->
            </div>
            <!-- <div class="product_price">$.100,000</div> -->
        </div>
    </div>
    </div>
    
    </div>
    </div>
    </div>
    </div>
    </div>
    </div> -->
    <script src="/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</body>

</html>